.App {
  text-align: center;
}
.ticker__card {
  width: 40rem;
  margin: auto auto;
  margin-top: 1rem;
  background-color: lightgrey;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 1rem;
}